


<h3>投稿を検索</h3>
 <%= form_tag({controller:"plays",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<h2>”自然”一覧</h2>
<div class="plays-container">
  <% @plays.each do |t| %> 
    <% if t.category == "sizenn" %>
      <%= image_tag t.user.image_url, size: "50x40" ,class:"wakame" if t.user.image? %>
      <div class="usagi">
        <div class="ikura">
          <%= image_tag t.image_url, size: "250x200" if t.image? %>
        </div>
        <div class="note8">
          <div class="play">
            <p>場所 : <%= t.title %>
            <br>
            <p>コメント:<%= t.body %>
            <br>
            <p>誰と : <%= t.scene %>
            <br>
            <p>訪問時間 : <%= t.time %>
            <br>
            <p>予算 : <%= t.price %>
          <br>
            <p>住所 : <%= t.address %>
            <br>
          </div>  
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
            <%= link_to play_like_path(id: t.id, play_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
          <% else %>
              <%= link_to play_likes_path(id: t.id, play_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
          <% end %>
          <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
          <br>
        
            <%= link_to "詳細へ", play_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
              <%= link_to "編集する", edit_play_path(t.id) %>
            <% end %>   
      </div>
    <% end %>
    </div>
  <% end %>
</div>
