



<div class="mouse">
  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "ごはん", plays_gohan_path %></p>
  </div>

  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "ショッピング", plays_moll_path %></p>
  </div>

  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "スポーツ", plays_sport_path %></p>
  </div>
</div>

<div class="cat">
  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "アクティビティ", plays_activity_path %></p>
  </div>

  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "鑑賞", plays_view_path %></p>
  </div>

  <div class="memo">
    <span class="masking-tape">
    </span><p><%= link_to "自然", plays_sizenn_path %></p>
  </div>
</div>


<div class="negi">
  <span class="masking-tape">
  </span>
    <p><%= form_tag({controller:"plays",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
        <div class='form-check'>
          <%= check_box :tag_ids, t.name %><%= t.name %></p>
        </div>  
      <% end %>
    <%= submit_tag '検索' %>
    <% end %>

  <div class="toufu">
    <%= form_tag({controller:"plays",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
    <% end %>
  </div>
</div>